<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <a href="/signup">SignUp</a></li>
    <div class="container">
      <h1>Login</h1><br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>